<form action="/recipes" method="post">
  <h1>Recipe Name:<input type="text" name="name" value="name"></h1>
  <h1>Ingredients:<input type="text" name="ingredients" value="ingredients"></h1>
  <h1>Cook Time:<input type="text" name="cook_time" value="cook_time"></h1>
  <input type="submit" name="" value="submit">

</form>
